@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap')

body
  margin 0
  padding 0
  color #c0aa93
  font-family 'Open Sans', sans-serif
  background-color #1f1f30

.Main
  padding 12px
  grid-template-columns minmax(auto, 1024px)
  display grid
  justify-content center
