.Products
  &-items
    grid-template-columns repeat(3, 1fr)
    grid-gap 1.5rem
    grid-row-ga 1.5em
    display grid
  &-desc
    font-size: 1rem
    display: -webkit-box
    overflow: hidden
    -webkit-line-clamp: 9
    -webkit-box-orient: vertical
    text-align: justify;
    text-justify: auto;
  &-title
    font-size: 1rem
    height 40px
    display inline-block
    margin-bottom: 12px

  &-item
    text-decoration none
    box-shadow 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03)
    border-radius 5px
    margin 0 0 20px 0
    position relative

    &-info
      padding 10px
      h2
        font-size 18px
        font-weight bold
        display flex
        justify-content space-between
        span
          color #33b13a
      p
        font-size 14px
        font-weight 300
    img
      width 100%
      height 300px
      border-radius 5px 5px 0 0
      object-fit contain
    button
      width 100%
      padding 10px
      border-radius 5px
      border 0px
      color #c5d2c0
      background-color #69794e
      outline 0
      cursor pointer
      font-size 14px
      font-weight 700
      text-transform: uppercase
      text-align: center
      transition: 0.3s
      &:hover
        color #c5d2c0
        background-color #3f3e61



